*{

    margin: 0;
    padding: 0;
}


#banner{
   
    position: fixed;
    width: 100%;
    z-index: 2;
    height: 50px;
          
   }
   #banner img {
    width: 100%; 
    height: auto;
  
    
   }
   .top{
    background-color: tomato;
    position:relative;
    top: 300px;
    z-index: 5;
    padding: 20px;
    font-size: 50px;
    text-align: center; 
    width: 100%;

   }
   .Coffee{
       height: 200x;
       width: 100%;
   }
   .left{

      position: relative;
      top: 400px;
      width: 32%;
   }
   .middle{

   position: absolute;
   left:500px;
   height: 100px;
   width: 32%;

   }
   .right{
       
    position: sticky;
    top:300px;
    width: 32%;
    float: right;
    z-index: 5;
   }
   